# Pandas for Finance Chapter 3) Shaping DFs

In [170]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("display.notebook_repr_html", False)
pd.set_option("display.max_columns", 15)
pd.set_option("display.max_rows", 8)
pd.set_option("precision", 3)

In [38]:
import pandas_datareader as web

start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

msft = web.DataReader("WIKI/MSFT", "quandl", start, end)
aapl = web.DataReader("WIKI/AAPL", "quandl", start, end)

# Concatenation

## Combines data based on Index

In [169]:
msft[:3]

           Symbol   Open   High    Low  Close     Volume  ExDividend  \
Date
2012-12-28   MSFT  26.71  26.90  26.55  26.55  2.824e+07         0.0
2012-12-27   MSFT  26.89  27.09  26.57  26.96  3.939e+07         0.0
2012-12-26   MSFT  27.03  27.20  26.70  26.86  3.163e+07         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
Date
2012-12-28         1.0   23.397   23.564  23.257    23.257  2.824e+07
2012-12-27         1.0   23.555   23.730  23.275    23.616  3.939e+07
2012-12-26         1.0   23.678   23.827  23.389    23.529  3.163e+07

In [164]:
aapl[:3]

           Symbol    Open    High     Low    Close     Volume  ExDividend  \
Date
2012-12-28   AAPL  510.29  514.48  508.12  509.589  1.265e+07         0.0
2012-12-27   AAPL  513.54  516.25  504.66  515.060  1.625e+07         0.0
2012-12-26   AAPL  519.00  519.46  511.12  513.000  1.080e+07         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
Date
2012-12-28         1.0   66.172   66.715  65.891    66.081  8.857e+07
2012-12-27         1.0   66.594   66.945  65.442    66.791  1.138e+08
2012-12-26         1.0   67.302   67.361  66.280    66.523  7.561e+07

In [41]:
msftA01 = msft["2012-01"][["AdjClose"]]

In [42]:
msftA01

            AdjClose
Date
2012-01-31    25.147
2012-01-30    25.215
2012-01-27    24.891
2012-01-26    25.121
...              ...
2012-01-06    23.933
2012-01-05    23.571
2012-01-04    23.333
2012-01-03    22.792

[20 rows x 1 columns]

In [43]:
msftA02 = msft["2012-02"][["AdjClose"]]

In [44]:
msftA02

            AdjClose
Date
2012-02-29    27.208
2012-02-28    27.319
2012-02-27    26.873
2012-02-24    26.985
...              ...
2012-02-06    25.717
2012-02-03    25.751
2012-02-02    25.504
2012-02-01    25.453

[20 rows x 1 columns]

In [45]:
msftA01[:3]

            AdjClose
Date
2012-01-31    25.147
2012-01-30    25.215
2012-01-27    24.891

In [46]:
pd.concat([msftA01.head(3),msftA02.head(3)])

            AdjClose
Date
2012-01-31    25.147
2012-01-30    25.215
2012-01-27    24.891
2012-02-29    27.208
2012-02-28    27.319
2012-02-27    26.873

In [47]:
aaplA01 = aapl["2012-01"][["AdjClose"]]
with_dups = pd.concat([msftA01[:3], aaplA01[:3]])
with_dups

            AdjClose
Date
2012-01-31    25.147
2012-01-30    25.215
2012-01-27    24.891
2012-01-31    58.664
2012-01-30    58.218
2012-01-27    57.482

In [48]:
#this will result in multiple items returns in the labels

In [49]:
with_dups.loc["2012-01-31"]

            AdjClose
Date
2012-01-31    25.147
2012-01-31    58.664

In [50]:
closes = pd.concat([msftA01[:3], aaplA01[:3]], keys = ["MSFT", "AAPL"])
closes

                 AdjClose
     Date
MSFT 2012-01-31    25.147
     2012-01-30    25.215
     2012-01-27    24.891
AAPL 2012-01-31    58.664
     2012-01-30    58.218
     2012-01-27    57.482

In [51]:
closes.loc["MSFT"][:3]

            AdjClose
Date
2012-01-31    25.147
2012-01-30    25.215
2012-01-27    24.891

In [52]:
msftAV = msft[["AdjClose", "Volume"]]
aaplAV = aapl[["AdjClose", "Volume"]]
pd.concat([msftAV, aaplAV])

            AdjClose     Volume
Date
2012-12-28    23.257  2.824e+07
2012-12-27    23.616  3.939e+07
2012-12-26    23.529  3.163e+07
2012-12-24    23.704  2.084e+07
...              ...        ...
2012-01-06    54.284  1.137e+07
2012-01-05    53.723  9.688e+06
2012-01-04    53.133  9.286e+06
2012-01-03    52.849  1.079e+07

[498 rows x 2 columns]

In [53]:
aaplA = aapl[["AdjClose"]]
pd.concat([msftAV, aaplA])

            AdjClose     Volume
Date
2012-12-28    23.257  2.824e+07
2012-12-27    23.616  3.939e+07
2012-12-26    23.529  3.163e+07
2012-12-24    23.704  2.084e+07
...              ...        ...
2012-01-06    54.284        NaN
2012-01-05    53.723        NaN
2012-01-04    53.133        NaN
2012-01-03    52.849        NaN

[498 rows x 2 columns]

In [54]:
pd.concat([msftAV, aaplA], join = "inner")

            AdjClose
Date
2012-12-28    23.257
2012-12-27    23.616
2012-12-26    23.529
2012-12-24    23.704
...              ...
2012-01-06    54.284
2012-01-05    53.723
2012-01-04    53.133
2012-01-03    52.849

[498 rows x 1 columns]

In [55]:
msftA = msft[["AdjClose"]]
closes = pd.concat([msftA, aaplA], axis = 1)
closes

            AdjClose  AdjClose
Date
2012-12-28    23.257    66.081
2012-12-27    23.616    66.791
2012-12-26    23.529    66.523
2012-12-24    23.704    67.453
...              ...       ...
2012-01-06    23.933    54.284
2012-01-05    23.571    53.723
2012-01-04    23.333    53.133
2012-01-03    22.792    52.849

[249 rows x 2 columns]

In [56]:
pd.concat([msftAV[:5], aaplAV[:3]], axis = 1, keys = ["MSFT", "AAPL"])

               MSFT                AAPL
           AdjClose     Volume AdjClose     Volume
Date
2012-12-21   24.046  9.878e+07      NaN        NaN
2012-12-24   23.704  2.084e+07      NaN        NaN
2012-12-26   23.529  3.163e+07   66.523  1.080e+07
2012-12-27   23.616  3.939e+07   66.791  1.625e+07
2012-12-28   23.257  2.824e+07   66.081  1.265e+07

In [57]:
pd.concat([msftA[:5], aaplA[:3]], axis = 1, join = "inner" ,keys = ["MSFT", "AAPL"])

               MSFT     AAPL
           AdjClose AdjClose
Date
2012-12-28   23.257   66.081
2012-12-27   23.616   66.791
2012-12-26   23.529   66.523

In [58]:
pd.concat([msftA[:3], aaplA[:3]], ignore_index = True)

   AdjClose
0    23.257
1    23.616
2    23.529
3    66.081
4    66.791
5    66.523

# Merging

## Combines data based on values

In [80]:
msftAR = msftA.reset_index()
msftVR = msft[["Volume"]].reset_index()
msftAR[:3]

        Date  AdjClose
0 2012-12-28    23.257
1 2012-12-27    23.616
2 2012-12-26    23.529

In [81]:
msftVR[:3]

        Date     Volume
0 2012-12-28  2.824e+07
1 2012-12-27  3.939e+07
2 2012-12-26  3.163e+07

In [75]:
msft_5 = msftAR[:5]
msft_5

        Date  AdjClose
0 2012-12-28    23.257
1 2012-12-27    23.616
2 2012-12-26    23.529
3 2012-12-24    23.704
4 2012-12-21    24.046

In [82]:
msft_2_4 = msftVR[2:4]
msft_2_4

        Date     Volume
2 2012-12-26  3.163e+07
3 2012-12-24  2.084e+07

In [84]:
#Inner join
pd.merge(msft_5, msft_2_4)

        Date  AdjClose     Volume
0 2012-12-26    23.529  3.163e+07
1 2012-12-24    23.704  2.084e+07

In [85]:
pd.merge(msft_5, msft_2_4, how = "outer")

        Date  AdjClose     Volume
0 2012-12-28    23.257        NaN
1 2012-12-27    23.616        NaN
2 2012-12-26    23.529  3.163e+07
3 2012-12-24    23.704  2.084e+07
4 2012-12-21    24.046        NaN


# Pivoting

In [89]:
#msft.insert(0, "Symbol", "MSFT")
#aapl.insert(0, "Symbol", "AAPL")
combined = pd.concat([msft, aapl]).sort_index()
s4p = combined.reset_index()
s4p[:5]

        Date Symbol    Open     High     Low    Close     Volume  ExDividend  \
0 2012-01-03   MSFT   26.55   26.960   26.39   26.765  6.473e+07         0.0
1 2012-01-03   AAPL  409.40  412.500  409.00  411.230  1.079e+07         0.0
2 2012-01-04   AAPL  410.00  414.680  409.28  413.440  9.286e+06         0.0
3 2012-01-04   MSFT   26.82   27.470   26.78   27.400  8.052e+07         0.0
4 2012-01-05   MSFT   27.38   27.728   27.29   27.680  5.608e+07         0.0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0         1.0   22.609   22.958  22.473    22.792  6.473e+07
1         1.0   52.614   53.012  52.562    52.849  7.556e+07
2         1.0   52.691   53.292  52.598    53.133  6.501e+07
3         1.0   22.839   23.393  22.805    23.333  8.052e+07
4         1.0   23.316   23.612  23.239    23.571  5.608e+07

In [92]:
closes = s4p.pivot(index = "Date", columns = "Symbol", values = "AdjClose")
closes[:5]

Symbol        AAPL    MSFT
Date
2012-01-03  52.849  22.792
2012-01-04  53.133  23.333
2012-01-05  53.723  23.571
2012-01-06  54.284  23.933
2012-01-09  54.198  23.623

# Stacking and Unstacking

In [95]:
stackedCloses = closes.stack()
stackedCloses

Date        Symbol
2012-01-03  AAPL      52.849
            MSFT      22.792
2012-01-04  AAPL      53.133
            MSFT      23.333
                       ...
2012-12-27  AAPL      66.791
            MSFT      23.616
2012-12-28  AAPL      66.081
            MSFT      23.257
Length: 498, dtype: float64

In [99]:
stackedCloses.loc["2012-01-03", "AAPL"]

52.848786580038

In [100]:
#Multiindex
stackedCloses.loc["2012-01-03"]

Date        Symbol
2012-01-03  AAPL      52.849
            MSFT      22.792
dtype: float64

In [101]:
stackedCloses.loc[:,"AAPL"]

Date
2012-01-03    52.849
2012-01-04    53.133
2012-01-05    53.723
2012-01-06    54.284
               ...
2012-12-24    67.453
2012-12-26    66.523
2012-12-27    66.791
2012-12-28    66.081
Length: 249, dtype: float64

In [102]:
unstackedCloses = stackedCloses.unstack()
unstackedCloses

Symbol        AAPL    MSFT
Date
2012-01-03  52.849  22.792
2012-01-04  53.133  23.333
2012-01-05  53.723  23.571
2012-01-06  54.284  23.933
...            ...     ...
2012-12-24  67.453  23.704
2012-12-26  66.523  23.529
2012-12-27  66.791  23.616
2012-12-28  66.081  23.257

[249 rows x 2 columns]

# Melting

In [106]:
melted = pd.melt(s4p, id_vars = ["Date", "Symbol"])
melted[:5]

        Date Symbol variable   value
0 2012-01-03   MSFT     Open   26.55
1 2012-01-03   AAPL     Open  409.40
2 2012-01-04   AAPL     Open  410.00
3 2012-01-04   MSFT     Open   26.82
4 2012-01-05   MSFT     Open   27.38

In [105]:
melted[(melted.Date == "2012-01-03") & (melted.Symbol == "MSFT")]

           Date Symbol   variable      value
0    2012-01-03   MSFT       Open  2.655e+01
498  2012-01-03   MSFT       High  2.696e+01
996  2012-01-03   MSFT        Low  2.639e+01
1494 2012-01-03   MSFT      Close  2.677e+01
...         ...    ...        ...        ...
3984 2012-01-03   MSFT    AdjHigh  2.296e+01
4482 2012-01-03   MSFT     AdjLow  2.247e+01
4980 2012-01-03   MSFT   AdjClose  2.279e+01
5478 2012-01-03   MSFT  AdjVolume  6.473e+07

[12 rows x 4 columns]

# Splitting

In [116]:
s4g = combined[["Symbol", "AdjClose"]].reset_index()
s4g.insert(1, "Year", pd.DatetimeIndex(s4g["Date"]).year)
s4g.insert(2, "Month", pd.DatetimeIndex(s4g["Date"]).month)
s4g.insert(3, "Day", pd.DatetimeIndex(s4g["Date"]).day)
s4g[:5]

        Date  Year  Month  Day Symbol  AdjClose
0 2012-01-03  2012      1    3   MSFT    22.792
1 2012-01-03  2012      1    3   AAPL    52.849
2 2012-01-04  2012      1    4   AAPL    53.133
3 2012-01-04  2012      1    4   MSFT    23.333
4 2012-01-05  2012      1    5   MSFT    23.571

In [118]:
s4g.groupby("Symbol")

In [122]:
grouped = s4g.groupby("Symbol")
#all the content of the groups
grouped.groups

#Number of groups
len(grouped), grouped.ngroups

(2, 2)

In [124]:
#In order to get the groupby to work
"""for each name print its head"""

def print_groups(groupobject):
    for name, group in groupobject:
        print (name)
        print (group.head())

print_groups(grouped)

AAPL
        Date  Year  Month  Day Symbol  AdjClose
1 2012-01-03  2012      1    3   AAPL    52.849
2 2012-01-04  2012      1    4   AAPL    53.133
5 2012-01-05  2012      1    5   AAPL    53.723
6 2012-01-06  2012      1    6   AAPL    54.284
8 2012-01-09  2012      1    9   AAPL    54.198
MSFT
        Date  Year  Month  Day Symbol  AdjClose
0 2012-01-03  2012      1    3   MSFT    22.792
3 2012-01-04  2012      1    4   MSFT    23.333
4 2012-01-05  2012      1    5   MSFT    23.571
7 2012-01-06  2012      1    6   MSFT    23.933
9 2012-01-09  2012      1    9   MSFT    23.623

In [125]:
#Size summary
grouped.size()

Symbol
AAPL    249
MSFT    249
dtype: int64

In [126]:
#Get the group
grouped.get_group("MSFT")

          Date  Year  Month  Day Symbol  AdjClose
0   2012-01-03  2012      1    3   MSFT    22.792
3   2012-01-04  2012      1    4   MSFT    23.333
4   2012-01-05  2012      1    5   MSFT    23.571
7   2012-01-06  2012      1    6   MSFT    23.933
..         ...   ...    ...  ...    ...       ...
490 2012-12-24  2012     12   24   MSFT    23.704
492 2012-12-26  2012     12   26   MSFT    23.529
494 2012-12-27  2012     12   27   MSFT    23.616
497 2012-12-28  2012     12   28   MSFT    23.257

[249 rows x 6 columns]

In [129]:
mcg  = s4g.groupby(["Symbol", "Year", "Month"])
print_groups(mcg)

('AAPL', 2012, 1)
        Date  Year  Month  Day Symbol  AdjClose
1 2012-01-03  2012      1    3   AAPL    52.849
2 2012-01-04  2012      1    4   AAPL    53.133
5 2012-01-05  2012      1    5   AAPL    53.723
6 2012-01-06  2012      1    6   AAPL    54.284
8 2012-01-09  2012      1    9   AAPL    54.198
('AAPL', 2012, 2)
         Date  Year  Month  Day Symbol  AdjClose
41 2012-02-01  2012      2    1   AAPL    58.627
42 2012-02-02  2012      2    2   AAPL    58.489
45 2012-02-03  2012      2    3   AAPL    59.075
47 2012-02-06  2012      2    6   AAPL    59.627
49 2012-02-07  2012      2    7   AAPL    60.251
('AAPL', 2012, 3)
         Date  Year  Month  Day Symbol  AdjClose
80 2012-03-01  2012      3    1   AAPL    69.972
83 2012-03-02  2012      3    2   AAPL    70.063
85 2012-03-05  2012      3    5   AAPL    68.518
86 2012-03-06  2012      3    6   AAPL    68.146
88 2012-03-07  2012      3    7   AAPL    68.201
('AAPL', 2012, 4)
          Date  Year  Month  Day Symbol  AdjClose
125 2012-04-02  2012      4    2   AAPL    79.503
126 2012-04-03  2012      4    3   AAPL    80.876
129 2012-04-04  2012      4    4   AAPL    80.233
131 2012-04-05  2012      4    5   AAPL    81.437
133 2012-04-09  2012      4    9   AAPL    81.764
('AAPL', 2012, 5)
          Date  Year  Month  Day Symbol  AdjClose
165 2012-05-01  2012      5    1   AAPL    74.812
167 2012-05-02  2012      5    2   AAPL    75.307
169 2012-05-03  2012      5    3   AAPL    74.772
170 2012-05-04  2012      5    4   AAPL    72.643
172 2012-05-07  2012      5    7   AAPL    73.186
('AAPL', 2012, 6)
          Date  Year  Month  Day Symbol  AdjClose
209 2012-06-01  2012      6    1   AAPL    72.095
211 2012-06-04  2012      6    4   AAPL    72.519
213 2012-06-05  2012      6    5   AAPL    72.331
214 2012-06-06  2012      6    6   AAPL    73.441
216 2012-06-07  2012      6    7   AAPL    73.474
('AAPL', 2012, 7)
          Date  Year  Month  Day Symbol  AdjClose
250 2012-07-02  2012      7    2   AAPL    76.147
253 2012-07-03  2012      7    3   AAPL    77.033
254 2012-07-05  2012      7    5   AAPL    78.386
257 2012-07-06  2012      7    6   AAPL    77.864
258 2012-07-09  2012      7    9   AAPL    78.893
('AAPL', 2012, 8)
          Date  Year  Month  Day Symbol  AdjClose
293 2012-08-01  2012      8    1   AAPL    77.984
295 2012-08-02  2012      8    2   AAPL    78.109
296 2012-08-03  2012      8    3   AAPL    79.126
299 2012-08-06  2012      8    6   AAPL    80.006
300 2012-08-07  2012      8    7   AAPL    79.796
('AAPL', 2012, 9)
          Date  Year  Month  Day Symbol  AdjClose
338 2012-09-04  2012      9    4   AAPL    87.113
341 2012-09-05  2012      9    5   AAPL    86.502
342 2012-09-06  2012      9    6   AAPL    87.281
344 2012-09-07  2012      9    7   AAPL    87.819
346 2012-09-10  2012      9   10   AAPL    85.535
('AAPL', 2012, 10)
          Date  Year  Month  Day Symbol  AdjClose
376 2012-10-01  2012     10    1   AAPL    85.103
378 2012-10-02  2012     10    2   AAPL    85.350
380 2012-10-03  2012     10    3   AAPL    86.659
383 2012-10-04  2012     10    4   AAPL    86.059
385 2012-10-05  2012     10    5   AAPL    84.225
('AAPL', 2012, 11)
          Date  Year  Month  Day Symbol  AdjClose
419 2012-11-01  2012     11    1   AAPL    76.991
421 2012-11-02  2012     11    2   AAPL    74.443
423 2012-11-05  2012     11    5   AAPL    75.453
425 2012-11-06  2012     11    6   AAPL    75.224
426 2012-11-07  2012     11    7   AAPL    72.359
('AAPL', 2012, 12)
          Date  Year  Month  Day Symbol  AdjClose
460 2012-12-03  2012     12    3   AAPL    76.014
463 2012-12-04  2012     12    4   AAPL    74.673
464 2012-12-05  2012     12    5   AAPL    69.868
467 2012-12-06  2012     12    6   AAPL    70.964
469 2012-12-07  2012     12    7   AAPL    69.149
('MSFT', 2012, 1)
        Date  Year  Month  Day Symbol  AdjClose
0 2012-01-03  2012      1    3   MSFT    22.792
3 2012-01-04  2012      1    4   MSFT    23.333
4 2012-01-05  2012      1    5   MSFT    23.571
7 2012-01-06  2012      1    6   MSFT    23.933
9 2012-01-09  2012      1    9   MSFT    23.623
('MSFT', 2012, 2)
         Date  Year  Month  Day Symbol  AdjClose
40 2012-02-01  2012      2    1   MSFT    25.453
43 2012-02-02  2012      2    2   MSFT    25.504
44 2012-02-03  2012      2    3   MSFT    25.751
46 2012-02-06  2012      2    6   MSFT    25.717
48 2012-02-07  2012      2    7   MSFT    25.845
('MSFT', 2012, 3)
         Date  Year  Month  Day Symbol  AdjClose
81 2012-03-01  2012      3    1   MSFT    27.679
82 2012-03-02  2012      3    2   MSFT    27.495
84 2012-03-05  2012      3    5   MSFT    27.259
87 2012-03-06  2012      3    6   MSFT    27.049
89 2012-03-07  2012      3    7   MSFT    27.293
('MSFT', 2012, 4)
          Date  Year  Month  Day Symbol  AdjClose
124 2012-04-02  2012      4    2   MSFT    27.679
127 2012-04-03  2012      4    3   MSFT    27.379
128 2012-04-04  2012      4    4   MSFT    26.753
130 2012-04-05  2012      4    5   MSFT    27.019
132 2012-04-09  2012      4    9   MSFT    26.659
('MSFT', 2012, 5)
          Date  Year  Month  Day Symbol  AdjClose
164 2012-05-01  2012      5    1   MSFT    27.439
166 2012-05-02  2012      5    2   MSFT    27.259
168 2012-05-03  2012      5    3   MSFT    27.225
171 2012-05-04  2012      5    4   MSFT    26.556
173 2012-05-07  2012      5    7   MSFT    26.273
('MSFT', 2012, 6)
          Date  Year  Month  Day Symbol  AdjClose
208 2012-06-01  2012      6    1   MSFT    24.549
210 2012-06-04  2012      6    4   MSFT    24.635
212 2012-06-05  2012      6    5   MSFT    24.596
215 2012-06-06  2012      6    6   MSFT    25.325
217 2012-06-07  2012      6    7   MSFT    25.222
('MSFT', 2012, 7)
          Date  Year  Month  Day Symbol  AdjClose
251 2012-07-02  2012      7    2   MSFT    26.369
252 2012-07-03  2012      7    3   MSFT    26.542
255 2012-07-05  2012      7    5   MSFT    26.490
256 2012-07-06  2012      7    6   MSFT    26.046
259 2012-07-09  2012      7    9   MSFT    25.886
('MSFT', 2012, 8)
          Date  Year  Month  Day Symbol  AdjClose
292 2012-08-01  2012      8    1   MSFT    25.377
294 2012-08-02  2012      8    2   MSFT    25.187
297 2012-08-03  2012      8    3   MSFT    25.671
298 2012-08-06  2012      8    6   MSFT    25.843
301 2012-08-07  2012      8    7   MSFT    26.111
('MSFT', 2012, 9)
          Date  Year  Month  Day Symbol  AdjClose
339 2012-09-04  2012      9    4   MSFT    26.392
340 2012-09-05  2012      9    5   MSFT    26.397
343 2012-09-06  2012      9    6   MSFT    27.226
345 2012-09-07  2012      9    7   MSFT    26.883
347 2012-09-10  2012      9   10   MSFT    26.683
('MSFT', 2012, 10)
          Date  Year  Month  Day Symbol  AdjClose
377 2012-10-01  2012     10    1   MSFT    25.615
379 2012-10-02  2012     10    2   MSFT    25.763
381 2012-10-03  2012     10    3   MSFT    25.936
382 2012-10-04  2012     10    4   MSFT    26.084
384 2012-10-05  2012     10    5   MSFT    25.928
('MSFT', 2012, 11)
          Date  Year  Month  Day Symbol  AdjClose
418 2012-11-01  2012     11    1   MSFT    25.637
420 2012-11-02  2012     11    2   MSFT    25.624
422 2012-11-05  2012     11    5   MSFT    25.737
424 2012-11-06  2012     11    6   MSFT    25.936
427 2012-11-07  2012     11    7   MSFT    25.259
('MSFT', 2012, 12)
          Date  Year  Month  Day Symbol  AdjClose
461 2012-12-03  2012     12    3   MSFT    23.152
462 2012-12-04  2012     12    4   MSFT    23.100
465 2012-12-05  2012     12    5   MSFT    23.362
466 2012-12-06  2012     12    6   MSFT    23.410
468 2012-12-07  2012     12    7   MSFT    23.174

In [130]:
#Multi-index
mi = s4g.set_index(["Symbol", "Year", "Month"])
mi

                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 1     2012-01-03    3    22.792
AAPL   2012 1     2012-01-03    3    52.849
            1     2012-01-04    4    53.133
MSFT   2012 1     2012-01-04    4    23.333
...                      ...  ...       ...
            12    2012-12-27   27    23.616
AAPL   2012 12    2012-12-27   27    66.791
            12    2012-12-28   28    66.081
MSFT   2012 12    2012-12-28   28    23.257

[498 rows x 3 columns]

In [138]:
#Grouping can now be performed  using the levels of the hierarchical index
#Level 0 = index = 0
mig_11 = mi.groupby(level = 0)
print_groups(mig_11)

AAPL
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 1     2012-01-03    3    52.849
            1     2012-01-04    4    53.133
            1     2012-01-05    5    53.723
            1     2012-01-06    6    54.284
            1     2012-01-09    9    54.198
MSFT
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 1     2012-01-03    3    22.792
            1     2012-01-04    4    23.333
            1     2012-01-05    5    23.571
            1     2012-01-06    6    23.933
            1     2012-01-09    9    23.623

In [140]:
#Grouping by multiple levels by passing mult levels tp groupby 
mig_112 = mi.groupby(level = ["Symbol", "Year", "Month"])
print_groups(mig_112)

('AAPL', 2012, 1)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 1     2012-01-03    3    52.849
            1     2012-01-04    4    53.133
            1     2012-01-05    5    53.723
            1     2012-01-06    6    54.284
            1     2012-01-09    9    54.198
('AAPL', 2012, 2)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 2     2012-02-01    1    58.627
            2     2012-02-02    2    58.489
            2     2012-02-03    3    59.075
            2     2012-02-06    6    59.627
            2     2012-02-07    7    60.251
('AAPL', 2012, 3)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 3     2012-03-01    1    69.972
            3     2012-03-02    2    70.063
            3     2012-03-05    5    68.518
            3     2012-03-06    6    68.146
            3     2012-03-07    7    68.201
('AAPL', 2012, 4)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 4     2012-04-02    2    79.503
            4     2012-04-03    3    80.876
            4     2012-04-04    4    80.233
            4     2012-04-05    5    81.437
            4     2012-04-09    9    81.764
('AAPL', 2012, 5)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 5     2012-05-01    1    74.812
            5     2012-05-02    2    75.307
            5     2012-05-03    3    74.772
            5     2012-05-04    4    72.643
            5     2012-05-07    7    73.186
('AAPL', 2012, 6)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 6     2012-06-01    1    72.095
            6     2012-06-04    4    72.519
            6     2012-06-05    5    72.331
            6     2012-06-06    6    73.441
            6     2012-06-07    7    73.474
('AAPL', 2012, 7)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 7     2012-07-02    2    76.147
            7     2012-07-03    3    77.033
            7     2012-07-05    5    78.386
            7     2012-07-06    6    77.864
            7     2012-07-09    9    78.893
('AAPL', 2012, 8)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 8     2012-08-01    1    77.984
            8     2012-08-02    2    78.109
            8     2012-08-03    3    79.126
            8     2012-08-06    6    80.006
            8     2012-08-07    7    79.796
('AAPL', 2012, 9)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 9     2012-09-04    4    87.113
            9     2012-09-05    5    86.502
            9     2012-09-06    6    87.281
            9     2012-09-07    7    87.819
            9     2012-09-10   10    85.535
('AAPL', 2012, 10)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 10    2012-10-01    1    85.103
            10    2012-10-02    2    85.350
            10    2012-10-03    3    86.659
            10    2012-10-04    4    86.059
            10    2012-10-05    5    84.225
('AAPL', 2012, 11)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 11    2012-11-01    1    76.991
            11    2012-11-02    2    74.443
            11    2012-11-05    5    75.453
            11    2012-11-06    6    75.224
            11    2012-11-07    7    72.359
('AAPL', 2012, 12)
                        Date  Day  AdjClose
Symbol Year Month
AAPL   2012 12    2012-12-03    3    76.014
            12    2012-12-04    4    74.673
            12    2012-12-05    5    69.868
            12    2012-12-06    6    70.964
            12    2012-12-07    7    69.149
('MSFT', 2012, 1)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 1     2012-01-03    3    22.792
            1     2012-01-04    4    23.333
            1     2012-01-05    5    23.571
            1     2012-01-06    6    23.933
            1     2012-01-09    9    23.623
('MSFT', 2012, 2)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 2     2012-02-01    1    25.453
            2     2012-02-02    2    25.504
            2     2012-02-03    3    25.751
            2     2012-02-06    6    25.717
            2     2012-02-07    7    25.845
('MSFT', 2012, 3)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 3     2012-03-01    1    27.679
            3     2012-03-02    2    27.495
            3     2012-03-05    5    27.259
            3     2012-03-06    6    27.049
            3     2012-03-07    7    27.293
('MSFT', 2012, 4)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 4     2012-04-02    2    27.679
            4     2012-04-03    3    27.379
            4     2012-04-04    4    26.753
            4     2012-04-05    5    27.019
            4     2012-04-09    9    26.659
('MSFT', 2012, 5)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 5     2012-05-01    1    27.439
            5     2012-05-02    2    27.259
            5     2012-05-03    3    27.225
            5     2012-05-04    4    26.556
            5     2012-05-07    7    26.273
('MSFT', 2012, 6)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 6     2012-06-01    1    24.549
            6     2012-06-04    4    24.635
            6     2012-06-05    5    24.596
            6     2012-06-06    6    25.325
            6     2012-06-07    7    25.222
('MSFT', 2012, 7)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 7     2012-07-02    2    26.369
            7     2012-07-03    3    26.542
            7     2012-07-05    5    26.490
            7     2012-07-06    6    26.046
            7     2012-07-09    9    25.886
('MSFT', 2012, 8)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 8     2012-08-01    1    25.377
            8     2012-08-02    2    25.187
            8     2012-08-03    3    25.671
            8     2012-08-06    6    25.843
            8     2012-08-07    7    26.111
('MSFT', 2012, 9)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 9     2012-09-04    4    26.392
            9     2012-09-05    5    26.397
            9     2012-09-06    6    27.226
            9     2012-09-07    7    26.883
            9     2012-09-10   10    26.683
('MSFT', 2012, 10)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 10    2012-10-01    1    25.615
            10    2012-10-02    2    25.763
            10    2012-10-03    3    25.936
            10    2012-10-04    4    26.084
            10    2012-10-05    5    25.928
('MSFT', 2012, 11)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 11    2012-11-01    1    25.637
            11    2012-11-02    2    25.624
            11    2012-11-05    5    25.737
            11    2012-11-06    6    25.936
            11    2012-11-07    7    25.259
('MSFT', 2012, 12)
                        Date  Day  AdjClose
Symbol Year Month
MSFT   2012 12    2012-12-03    3    23.152
            12    2012-12-04    4    23.100
            12    2012-12-05    5    23.362
            12    2012-12-06    6    23.410
            12    2012-12-07    7    23.174

# Aggregating

In [142]:
#Having looked at how to group stock data by month, we can develop methods to calc risk of stock based on time

""".agg() is a method that applies a function to each group"""

mig_112.agg(np.mean)

                      Day  AdjClose
Symbol Year Month
AAPL   2012 1      16.650    55.078
            2      14.750    63.945
            3      16.045    74.218
            4      15.700    77.880
...                   ...       ...
MSFT   2012 9      16.158    26.736
            10     14.333    25.247
            11     15.762    24.280
            12     15.000    23.633

[24 rows x 2 columns]

In [143]:
#Use different index than the original df so as not to duplicate  it
"""SPLIT PART                                             AGGREGATE PART"""
s4g.groupby(["Symbol", "Year", "Month"], as_index = False).agg(np.mean)

   Symbol  Year  Month     Day  AdjClose
0    AAPL  2012      1  16.650    55.078
1    AAPL  2012      2  14.750    63.945
2    AAPL  2012      3  16.045    74.218
3    AAPL  2012      4  15.700    77.880
..    ...   ...    ...     ...       ...
20   MSFT  2012      9  16.158    26.736
21   MSFT  2012     10  14.333    25.247
22   MSFT  2012     11  15.762    24.280
23   MSFT  2012     12  15.000    23.633

[24 rows x 5 columns]

In [144]:
#Pass multiple aggregatioin functions
mig_112.agg([np.mean, np.std])

                      Day        AdjClose
                     mean    std     mean    std
Symbol Year Month
AAPL   2012 1      16.650  8.964   55.078  1.715
            2      14.750  8.920   63.945  3.405
            3      16.045  9.079   74.218  3.970
            4      15.700  8.597   77.880  2.921
...                   ...    ...      ...    ...
MSFT   2012 9      16.158  7.819   26.736  0.402
            10     14.333  8.822   25.247  0.622
            11     15.762  9.203   24.280  0.932
            12     15.000  8.062   23.633  0.340

[24 rows x 4 columns]